<div class="ice-index col-xs-12 col-sm-6 col-md-4">
  <h2><%= link_to talk.topic, talk_path(talk) %></h2>
  <br />
  <h4><%= truncate raw(talk.description), length: 80 %></h4>
  
  <% if talk.description.length > 80 %>
    <p><%= link_to "Read More...", talk_path(talk) %></p>
  <% end %>
  
  <% if talk.assignee %>
    <p>Talk is assigned to: <span class="assignee"><%= talk.assignee.first_name %> <%= talk.assignee.last_name.first %></span></p>
  <% end %>
  
  <% if talk.speak_date.present? %>
    <p>Lightning talk date: <%= talk.speak_date %></p>
  <% end %>

  <div class="row align-bottom">
    <hr class="custom-hr" />
    <div class="col-xs-12 col-sm-6 col-md-6 text-center">
      <%= button_to upvote_talk_path(talk), class: "btn btn-md btn-info custom-button", method: :post do %>
        <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;
        <span class="badge"><%= talk.votes_count %></span>
      <% end %>
    </div>

    <br class="visible-xs hidden-sm hidden-md" />
    <br class="visible-xs hidden-sm hidden-md" />

    <div class="col-xs-12 col-sm-6 col-md-6 text-center">    
      <% if talk.assignee %>
        <%= link_to unassign_talk_path(talk), method: :put do %>
          <button class="btn btn-md btn-success custom-button" type="button">
            Assigned <span class="glyphicon glyphicon-ok"></span>
          </button>
        <% end %>
      <% else %>
        <%= link_to assign_talk_path(talk), method: :put do %>
          <button class="btn btn-md btn-default custom-button" type="button">
            Unassigned
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
