<div class="card-container">
  <div class="card-wrapper">
    <h3 class="card-title"><%= link_to talk.topic, talk_path(talk) %></h3>
    <p class="card-description"><%= truncate talk.description, length: 80 %></p>
    <% if talk.description.length > 80 %>
      <p><%= link_to "Read More...", talk_path(talk) %></p>
    <% end %>

    <div class="card-meta-info-wrapper">
      <% if talk.assignee %>
        <p>Talk is assigned to: <span class="assignee"><%= talk.assignee.first_name %> <%= talk.assignee.last_name.first %></span></p>
      <% end %>

      <% if talk.speak_date.present? %>
        <p>Lightning talk date: <%= link_to talk.speak_date, roster_path(:date => talk.speak_date) %></p>
      <% end %>
    </div>

    <div class="card-button-wrapper">
      <%= button_to upvote_talk_path(talk), class: "button button-blue", method: :post do %>
        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  <%= talk.votes_count %></span>
      <% end %>
      <% if talk.assignee %>
        <%= link_to unassign_talk_path(talk), method: :put do %>
          <button class="button button-green" type="button">
            Assigned
          </button>
        <% end %>
      <% else %>
        <%= link_to assign_talk_path(talk), method: :put do %>
          <button class="button" type="button">
            Unassigned
          </button>
        <% end %>
      <% end %>
    </div> <!-- End Button Wrapper -->
  </div> <!-- End Card Wrapper -->
</div> <!-- End Card Container -->
