<div class="col-xs-10 col-xs-offset-1">
  <h1>Enter the details of the topic</h1>
  <%= simple_form_for @talk do |f| %>
    <%= f.input :topic, required: false, error: 'Topic is required' %><br />
    <%= f.label :description %>
    <%= f.cktext_area :description, required: false, error: "A description is required" %><br />
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
