<br />
<br />
<div class="ice col-xs-10 col-xs-offset-1">
  <h1><%= @talk.topic %></h1>
  <br />
  <h3><%= @talk.description %></h3>
  <br />
  <p>Assigned to: <%= @talk.assigned_to %></p>
  <% if current_user && current_user == @talk.user || current_user && current_user.admin == true %>
    <%= link_to "Edit", edit_talk_path, class: "btn btn-primary" %>
    <%= link_to "Destroy", talk_path(@talk), method: :delete, data:{confirm: "Are you sure you want to delete this?"}, class: "btn btn-danger" %>
  <% end %>
  <% if current_user && current_user.admin? %>
    <div class="pull-right">
      <% if @talk.speak_date.nil? %>
        <h3>Schedule this talk: </h3>
        <%= form_for(@talk) do |f| %>
          <%= f.date_select(:speak_date, order: [:month, :day, :year]) %>
          <%= f.submit "Schedule" %>
        <% end %>
      <% else %>
        <h4>This talk is scheduled for: <br/>
        <%= @talk.speak_date %></h4>
        <%= form_for(@talk) do |f| %>
          <%= f.hidden_field(:speak_date, value: nil) %>
          <%= f.submit "Reset" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<br />
<br />
