<section id="show-card" class="container">
  <div class="card-wrapper">
    <h1 class="card-title"><%= @talk.topic %></h1>
    <h3 card="description"><%= @talk.description %></h3>

    <% if @talk.assignee.present? %>
      <p>Assigned to: <%= @talk.assignee.first_name %> <%= @talk.assignee.last_name.first %>.</p>
    <% else %>
      <p> Assigned to: <i>Talk is currently unassigned </i></p>
    <% end %>

    <div class="card-button-wrapper">
      <% if current_user && current_user == @talk.user || current_user && current_user.admin == true %>
        <%= link_to "Edit", edit_talk_path, class: "button button-blue" %>
        <%= link_to "Destroy", talk_path(@talk), method: :delete, data:{confirm: "Are you sure you want to delete this?"}, class: "button button-red" %>
      <% end %>
    </div>

    <% if current_user && current_user.admin? %>
      <div class="card-schedule-wrapper">
        <% if @talk.speak_date.nil? %>
          <h3>Schedule this talk: </h3>
          <%= form_for(@talk) do |f| %>
            <%= f.date_select(:speak_date, order: [:month, :day, :year]) %>
            <%= f.submit "Schedule", class: 'button' %>
          <% end %>
        <% else %>
          <h4>This talk is scheduled for:
          <%= @talk.speak_date %></h4>
          <%= form_for(@talk) do |f| %>
            <%= f.hidden_field(:speak_date, value: nil) %>
            <%= f.submit "Reset", class: 'button' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</section>
