<section id="show-card" class="container">
  <div class="card-wrapper">
    <h2>Forgot Password?</h2>
    <div class="form-wrapper">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <h3 class="left"><%= f.label :email %></h3>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Send Reset", class: 'button' %>
        </div>
        <br>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</section>
