<section id="show-card" class="container">
  <div class="card-wrapper">
    <h2>Log in</h2>
    <div class="form-wrapper">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>
        <br />
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Super Secret Password" %>
        </div>
        <br />
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>
        <br /.
        <div class="actions">
          <%= f.submit "Log in", class: "button button-blue" %>
        </div>
      <% end %>
      <br />
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
