<nav id="navigation">
  <div class="container navigation-container">
    <div class="brand-wrapper">
      <img class="brand-logo" src="/assets/firehose_logo.png" alt="The Firehose Project Logo" />
      <%= link_to 'Firehose Project', root_path, class: "brand-title" %>
      <%= link_to 'Firehose', root_path, class: "brand-title-alt" %>
    </div> <!-- End Brand Wrapper -->

    <div class="navigation-links-container">
      <img src="/assets/menu.svg" alt="Mobile Navigation Menu Button" id="mobile-navigation-toggle" class="mobile-navigation-toggle"/>
      <ul class="navigation-links-wrapper">
        <li>Firehose Links
          <ul class="navigation-dropdown-menu">
            <li><%= link_to "theFirehoseProject", "http://www.thefirehoseproject.com/", target: "_blank" %></li>
            <li><%= link_to "Firehose Community", "http://community.thefirehoseproject.com/", target: "_blank" %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to new_talk_path do %>
              Add a New Topic
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do%>
              Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path do %>
              Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              Log In
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> <!-- End Navigation Links Wrapper -->
  </div> <!-- End Navigation-Container -->
</nav> <!-- End Navigation -->
