<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#firehose-menu-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="brand-img" src="/assets/firehose_logo.png">
      <a class="navbar-brand" href="/">Firehose Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="firehose-menu-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-link"></span>
            Firehose Links
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "theFirehoseProject", "http://www.thefirehoseproject.com/", :target => "_blank" %></li>
            <li><%= link_to "Firehose Community", "http://community.thefirehoseproject.com/", :target => "_blank" %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to new_talk_path do %>
              <span class="glyphicon glyphicon-plus"></span> Add a New Topic
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do%>
              <span class="glyphicon glyphicon-log-out"></span> Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span> Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Log In
            <% end %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
